.searchFields {
    position: relative;
}

.padded-left.padded-right.searchFields {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.layout-desktop .searchFieldsInner {
    width: 100%;
}

div#smart-search-wrapper:not([style*="display: none"]) ~ #jellyseerr-search-icon {
    display: none;
}

.smart-search-mode .searchFieldsInner {
    position: relative;
}

div#searchPage {
    padding-top: 3rem !important;
}

@media (min-width: 600px) {
div#searchPage {
        padding-top: 5rem !important;
    }
}

div#searchPage {
    display: flex;
    flex-direction: column;
}

div#searchPage>* {
    order: 1;
}

div#searchPage>.jellyseerr-section {
    order: 2;
    padding-left: max(env(safe-area-inset-left), 3.3%);
}

div#smart-search-results {
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

label[for="searchTextInput"] {
    display: none;
}

.searchFieldsInner>.searchfields-icon {
    display: none;
}

.input-wrapper {
    position: relative;
}

span.searchfields-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}